// colors
$orange: #F57F17;
$yellow: #FEC744;
$dark_blue:  #07222F;
$teal: #499195;
$gray: #F2F2EC;
$error: #ffaeae;
$font_color: #152939;

// fonts
$open_sans: 'Open Sans', sans-serif;

// dimensions
$countdown_container_height: 100px;
$section_container_min_height: 400px;
$footer_section_separation: calc(#{$countdown_container_height} + 25px);